<!DOCTYPE web-app PUBLIC
        "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
        "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
    <display-name>Archetype Created Web Application</display-name>

    <servlet>
        <servlet-name>TimeServletXML</servlet-name>
        <servlet-class>servlet.TimeServletXML</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>TimeServletXML</servlet-name>
        <url-pattern>/minsk-xml</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>TimeServletXML</servlet-name>
        <url-pattern>/washington-xml</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>TimeServletXML</servlet-name>
        <url-pattern>/beijing-xml</url-pattern>
    </servlet-mapping>


</web-app>
